---
import tagpagesJson from '../../data/tagpages.json'
import Layout from '../../layouts/Layout.astro'
export async function getStaticPaths() {
	return Object.entries(tagpagesJson).map(([i, pages]) => ({params: {tag: i}}))
}
---
<Layout title={'Tagged' + Astro.params.tag}>
	<div class="content">
	<h1 class="title">Tagged <span class="tagQuote">{Astro.params.tag}</span></h1>
	<ul>
		{tagpagesJson[Astro.params.tag].map(i =>
			<li><a href={'/classes/' + i}>{i}</a></li>
		)}
	</ul>
	See <a href={'/tags'}>all tags</a>
	</div>
</Layout>